body {
    background-color: lightgreen;
}

h1 {
    text-align: left;
    background-color: hsl(54, 100%, 66%);
    font-size: 80px;
    margin : 50px;
}

ul {
    font-size: 44px;
    color : purple;
}

ul li {
    font-size : 30px;
    color : blue;
}

a {
    color : white;
}

.recipe {
    background-color: lightcoral;
    display: block;
    margin : 
}
.list{
    display: block;
    background-color: black;
    display: block;
    margin: 0px;
    text-align: left;
}